@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Base --- */

@layer base {
  body {
    @apply text-base text-secondary font-normal font-poppins bg-dark-300;
  }

  h1 {
    @apply text-3xl font-semibold md:leading-normal md:text-4xl;
  }

  h2 {
    @apply text-2xl font-semibold md:leading-normal md:text-3xl;
  }

  a:focus,
  button:focus,
  input:focus {
    @apply focus:!outline-4 focus:!outline-white/5;
  }

  input,
  textarea {
    @apply flex items-center w-full h-12 bg-dark-300 px-3.5 rounded-md border-2 border-dark-200;
  }

  textarea {
    @apply scroll-primary h-96 py-2.5 resize-none sm:h-72;
  }
}

/* --- Components --- */
@layer components {
  /* Scroll */
  .scroll-primary::-webkit-scrollbar {
    @apply w-2 bg-dark-200;
  }

  .scroll-primary::-webkit-scrollbar-thumb {
    @apply w-2 bg-dark-100 border-solid border-2 border-dark-200 rounded-lg hover:bg-[#6f6f6f];
  }

  .scroll-primary-large {
    @apply scroll-primary;
  }

  .scroll-primary-large::-webkit-scrollbar {
    @apply w-3;
  }

  .scroll-primary-large::-webkit-scrollbar-thumb {
    border-width: 3px;
  }

  /* Markdown */
  .markdown.strong-primary strong {
    @apply text-primary;
  }

  .markdown.strong-white strong {
    @apply text-white;
  }

  .markdown a {
    @apply text-[#3bbc71] underline;
  }

  /* title rectangle */
  .title-rectangle {
    @apply flex flex-col items-start gap-2;
  }

  .title-rectangle::after {
    content: "";
    @apply inline-block w-32 h-2 bg-primary rounded-full;
  }

  h2.title-rectangle::after {
    @apply w-28 h-1.5;
  }

  /* Buttons */
  .btn-primary {
    @apply flex items-center justify-center gap-3 relative bg-primary px-11 py-2.5 rounded-lg transition-all hover:bg-primary/80 active:bg-primary md:text-lg;
  }

  /* Headless ui */
  .menu-items {
    @apply absolute right-0 top-full min-w-36 bg-dark-300 origin-top-right mt-3 p-1.5 rounded-lg shadow-lg ring-1 ring-black/5 border-2 border-dark-200;
  }

  .menu-btn {
    @apply flex items-center justify-between gap-3.5 py-2 px-4 border-2 border-dark-200 rounded-md transition-colors hover:bg-[#262626];
  }

  .menu-item {
    @apply flex items-center gap-3.5 w-full px-3.5 py-2 rounded text-left transition-colors hover:bg-dark-200;
  }

  /* Header */
  .header_navlink {
    @apply flex justify-center relative py-2 hover:after:bg-primary/50;
  }

  .header_navlink:after {
    @apply content-[""] absolute -bottom-[9px] left-0 w-full h-0.5 bg-transparent transition-colors duration-200;
  }

  .header_navlink.active::after {
    @apply bg-primary;
  }

  /* Navbar */
  .navbar-link {
    @apply flex items-center justify-center gap-3.5 size-12 rounded opacity-60 transition-opacity duration-200;
  }

  .navbar-link.active {
    @apply opacity-100;
  }
}

/* --- Utilities --- */

@layer utilities {
  .container {
    @apply max-w-7xl w-full px-5 mx-auto;
  }
}

/* clears the ‘X’ from search input */
:is(input[type="search"])::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
